.layout-center {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: stretch;
}

.error {
  background-color:lavenderblush;
  color:indianred;
  font-weight: bold;
  font-size:13px;
  border: 1px solid mistyrose;
}

.success {
  background-color: seashell;
  color:peru;
  font-weight: bold;
  font-size:13px;
  border: 1px solid peachpuff;
}

.form-signin {
  width: 100%;
  max-width: 360px;
  margin: auto;
}

.form-register {
  width: 100%;
  max-width: 670px;
  padding-top: 15px;
  margin: auto;
}

.form-signin .form-control {
  /* position: relative; */
  /* box-sizing: border-box; */
  height: auto;
  padding: 10px;
  font-size: 16px;
}
